# Project exclude paths
scheduler/src/main/resources/*.yml

# IDE exclude paths
.vscode/
.idea/

# Build output directories
.gradle/
build/
bin/

# SMOL Lifted state output
scheduler/src/main/kg_output/
