smol_path: src/main/resources/test_check_moisture.smol
lifted_state_output_path: src/main/kg_output/
lifted_state_output_file: src/main/kg_output/out.ttl
greenhouse_asset_model_file: src/main/resources/greenhouse.ttl
domain_prefix_uri: http://www.smolang.org/grennhouseDT#
interval_seconds: 10

# Paths of data collector config files. They are edited locally and then sent to data collectors.
local_shelf_1_data_collector_config_path: src/main/resources/config_shelf_1.ini
local_shelf_2_data_collector_config_path: src/main/resources/config_shelf_2.ini

# Paths of data collector config files on (remote) data collectors. Files will be sent to these paths.
shelf_1_data_collector_config_path: /home/lab/influx_greenhouse/greenhouse-data-collector/collector/config.ini
shelf_2_data_collector_config_path: /home/lab/influx_greenhouse/greenhouse-data-collector/collector/config.ini
